<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="https://map.arquivista.net/etc/mapa.png" />
    <meta name="description" content="The open and collaborative Archives World Map, a public archives geolocalization dataset.">
    <meta name="keywords" content="archives, map, collaborative, open">
    <meta name="author" content="Ricardo Sodré Andrade">
    <title>Archives World Map</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="./templates/css/home.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Archives World Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMap" aria-controls="navbarsMap" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsMap">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home<check if="{{ @page=='home' }}"><span class="sr-only">(current)</span></check></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./add">Add institution<check if="{{ @page=='add' }}"><span class="sr-only">(current)</span></check></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./stats">Stats<check if="{{ @page=='stats' }}"><span class="sr-only">(current)</span></check></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about">About<check if="{{ @page=='about' }}"><span class="sr-only">(current)</span></check></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Acccount</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Register</a>
              <a class="dropdown-item" href="#">Sign in</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="./q">
          <input class="form-control mr-sm-2" type="text" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <check if="{{ @page=='home' }}">
      <div class="starter-template">
        
        <p class="lead"><small><a href="?language=en-US">English</a> | <a href="?language=es">Español</a> | 
				<a href="?language=pt-BR">Português</a> | <a href="?language=cn">中文</a> | <a href="?language=pl">Polski</a>
        </p>
      </div>

      <div class="container">
        <div id="mapid" style="width: 700px; height: 450px; margin: 0 auto"></div>
        <script>

          var mymap = L.map('mapid').setView([21.525484, -12.572412], 2);

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYXJxdWl2aXN0YW5ldCIsImEiOiJjaXlwOXAzN2EwMDM0NDRwY3h0aG1yejB2In0.kGvUj7knV4iUH1OSnSqzdw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> | ' +
            'Archives geo and data &copy; <a href="https://map.arquivista.net">Archives World Map</a>',
            id: 'mapbox.streets'
          }).addTo(mymap);
        
          {{ @pinagem | raw }}

        </script>
      </div>
      </check>
      
      <check if="{{ @page=='add' }}">
      
      ...
      
      </check>
      
      <check if="{{ @page=='proc-add' }}">
      
      ...
      
      </check>
      
      <check if="{{ @page=='about' }}">
      
      ...
      
      </check>
      
      
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
